@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello</h1>
<h2>Welcome to the Car Rental Service</h2>

<AuthorizeView>
    <Authorized>
        <p>You are logged in</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    
}