@page "/"
@using CarRentalService.UseCases.Persons.Customers

@inject ICustomerService CustomerService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    protected override async Task OnInitializedAsync()
    {
        var customer = await CustomerService.GetCustomerByIdAsync(Guid.Parse("0438ada3-736a-4701-a821-42b3bf1d26bc"));
        // var customers = await CustomerService.GetAllCustomersAsync();
        await base.OnInitializedAsync();
    }
}